<!DOCTYPE html>
<html>
<head>
    <title>here bonboo</title>
      
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
    
    <% content_for :head do %>
      <meta property="og:url"           content="https://share-fb-hyunyoungyoon.c9users.io/" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="here bonboo" />
      <meta property="og:description"   content="Im here at bonboo rightnow!!Access activated near bonboo" />
      <meta property="og:image"         content="http://ojsfile.ohmynews.com/STD_IMG_FILE/2010/0109/IE001153739_STD.jpg" />
    <% end %>
    
</head>
<body>

  
  
  잠시만 기다려 주세요
  
    
</body>
</html>