
<% if (p.id%2 == 0) %>
<li>
<% else %>
<li class="timeline-inverted">
<% end %>
  <div class="timeline-badge"><img src="assets/footprint_wh.png"  style='max-height: 60%'></div>
  <div class="timeline-panel outer_box" style="background: rgba(225, 225, 225, 0.6)">
  <div class="postbox">
    <div class="timeline-heading">
      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>
        <% if (TimeDifference.between(p.created_at, Time.now).in_days <= 3.0) %>
          <%= time_ago_in_words(p.created_at) %> ago
        <% else %>
          <%= time_tag p.created_at , datetime: p.created_at.strftime('%G-W%V') %>
        <% end %>
      </small></p>
    </div>
    <div class="timeline-body">
      <p><%= p.content %></p>
      <% unless p.img_name == "" %>
        <%= image_tag("#{p.img_name}", width:'100%') %>        
      <% end %>
    </div>
  </div>
  </div>
</li>

